.button{
  background-color: rgba(240, 248, 255, 0.247);
  color: aliceblue;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 30px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  transform: translateY(5px);
}